{% extends 'base.html.twig' %}

{% block title %}Usuarios-Dispositivos{% endblock %}

{% block body %}
    <h1>Usuarios-Dispositivos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Dispositivo</th>
                <th>aciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usu_disp in usu_disps %}
            <tr>
                <td>{{ usu_disp.idUsuario }}</td>
                <td>{{ usu_disp.idDispositivo }}</td>
                <td>
                    <a href="{{ path('usu_disp_show', {'id': usu_disp.idUsuario}) }}">show</a>
                    <a href="{{ path('usu_disp_edit', {'id': usu_disp.idUsuario}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usu_disp_new') }}">Create new</a>
{% endblock %}
